<header class="site-header">
  <div class="container nav">

    <div class="brand">
      <a href="{{ '/' | relative_url }}">ProofZoom</a>
    </div>

    <nav class="links">
      <a href="{{ '/' | relative_url }}">Areas</a>
      <a href="{{ '/entries/' | relative_url }}">Entries</a>
      <a href="{{ '/contributors/' | relative_url }}">Contributors</a>
      <a href="{{ '/about/' | relative_url }}">About</a>
      <a href="{{ '/contact/' | relative_url }}">Contact</a>
    </nav>

  </div>
</header>